<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite">
    <test verbose="2" preserve-order="true" name="D:/Java Programming/TestNG/Selenium/ProjectOrangeHRM/OrangeHRM">
        <classes>
            <class name="OrangeHRM"/>
        </classes>
    </test>
</suite>